{% extends 'base.html' %}
{% block head %}Signup{% endblock head %}
{% block nav-item %}{% endblock nav-item %}
{% block content %}
<div class="bg-grey-lighter flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Sign up</h1>
            
            {% include 'core/partials/signupform.html' %}

            {% if form.non_field_errors %}
            <p class="text-sm text-red-500 text-center">{{error}}</p>
            {% endif %}
        </div>

        <div class="text-grey-dark mt-6" hx-boost="true">
            Already have an account? 
            <a class="no-underline border-b border-blue text-blue" href="{% url 'core:login' %}">
                Log in
            </a>.
        </div>
    </div>
</div>    
{% endblock content %}