<div class="bg-white rounded-lg p-4 m-6" id="#searchResult">
    <h2 class="text-purple-500 uppercase text-2xl text-center m-20">Search ||||</h2>
    <h2 class="text-purple-500 uppercase text-2xl text-center m-20">Most recent job postings...</h2>
    {% for job in page_obj %}
        <div class="bg-gray-100 rounded-t-lg font-bold m-6 text-2xl shadow-xl border border-gray-400 py-6 px-8">
            <h2 class="text-lg font-bold text-purple-600 mt-4 p-3">
                Position:
                <span class="text-lg font-semibold text-gray-700 mt-4 p-3">{{ job.title }}</span>
            </h2>
            <h2 class="text-lg font-bold text-purple-600 mt-4 p-3">
            description: <br>
                <p class="text-normal p-1 text-gray-700  font-light ">{{job.description }}</p>
            </h2>
            <footer class="rounded-b-lg bg-gray-100 text-lg text-gray-500 px-8 py-3 flex justify-between">
            <h3 hx-boost="true" class="text-xl text-left p-1  ">Job by: 
                <a href="{% url 'users:profile' job.created_by%}" class="font-semiboald cursor-pointer text-gray-700">{% if job.created_by.profile.username %}{{job.created_by.profile.username}} {% else %}{{job.created_by}}{% endif %}</a>
            
            </h3>
                <p class="m-3 hidden md:block p-1">{{job.created_on|timesince}}</p>
            </footer>
            <div hx-boost class="text-center">
                <a class="mt-4 p-3 bg-purple-500 text-white hover:bg-purple-800 rounded-lg shadow-xl"href="{% url 'job:job-detail' job.pk %}">View Job Detail</a>
            </div>
        </div>
    {% endfor %}
    <div aria-label="Page navigation" class="inline-flex">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white rounded-l-lg focus:shadow-outline hover:bg-indigo-100" hx-get="?page=1" hx-target="body">&laquo; first</a>
                <a class="h-10 px-5 text-white transition-colors duration-150 bg-indigo-600 focus:shadow-outline" hx-get="?page={{ page_obj.previous_page_number }}" hx-target="body">previous</a>
            {% endif %}
    
            {% if page_obj.has_next %}
                <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100" hx-get="?page={{ page_obj.next_page_number }}" hx-target="body">next</a>
                <a class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100"  hx-get="?page={{ page_obj.paginator.num_pages }}" hx-target="body">last &raquo;</a>
            {% endif %}
            
            <span class="h-10 px-5 text-indigo-600 transition-colors duration-150 bg-white focus:shadow-outline hover:bg-indigo-100">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>
</div>