{% extends 'base.html' %}
{% block content %}
<div x-data="{jobs: [], remote: false, search:false}" x-init="jobs = await (await fetch('/job/fideht/jobs/search/')).json()">
  <div class="flex items-center justify-center ">
    <form hx-get="{% url 'job:search' %}" hx-target="#searchResult">
    <div class="flex border-2 border-gray-200 rounded">
        <input name="query" type="text" class="px-4 py-2 w-80" placeholder="Search...">
        <button class="px-4 text-white bg-gray-600 border-l ">Search</button>
        <div class="form-check mx-3">
          Remote
          <input @click="remote=!remote" class="form-check-input self-center appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-purple-600 checked:border-purple-600 focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer" type="checkbox" value="" id="flexCheckDefault3">
        </div>
      </form>
    </div>
  </div>
  <p x-text="remote"></p>
  <template class="block" x-for="job in jobs.filter(j => j.remote == remote)">
    <p class="block" x-text="`${job.title} - ${job.pk}-- is remote ${job.remote} `"></p>
  </template>
</div>
<div id="searchResult" x-data="{jobs: [], remote: false}" x-init="jobs = await (await ('/job/fideht/jobs/search/')).json()">
  <p class="block" x-text="`${job.title} - ${job.pk}-- is remote ${job.remote} `"></p>
</div>
  {% endblock content %}