{% extends 'base.html' %}
{% block head %}Password reset email sent{% endblock head %}
{% block content %}
  <section class="py-20 bg-white">
    <div class="px-4 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
        <h2 class="text-xl font-extrabold tracking-tight text-gray-900 sm:text-xl md:text-2xl xl:text-3xl">
            Password Reset Email Sent
        </h2>
        <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
            We've sent an email to you with instructions on how to reset your password, please note that you will not receive any message if there is no associating account with the email you entered.
        </p>
    </div>
</section>
{% endblock %}
