<footer class="bg-gray-800 dark:bg-gray-800 w-screen py-8">
    <div class="max-w-screen-xl mx-auto mt-20 px-4">
        <ul class="max-w-screen-md mx-auto text-lg font-light flex justify-between flex-wrap">
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="https://www.linkedin.com/in/amusat-haki-07b35921b/" target="_blank">
                    Linkedin
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="https://github.com/DeFidelity/Fideh-Jobs.git" target="_blank">
                    Github
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="https://twitter.com/DeFidelity1" target="_blank">
                    Twitter
                </a>
            </li>
            <li class="my-2">
                <a class="text-gray-300 hover:text-gray-400 dark:text-gray-300 dark:hover:text-white transition-colors duration-200" href="#">
                    Contact
                </a>
            </li>
        </ul>

            <div class="text-center text-gray-300 dark:text-gray-200 pt-10 sm:pt-12 font-light flex items-center justify-center">
                Fideht inc copyright 2021
            </div>
        </div>
    </footer>