{% extends 'base.html' %}
{% block nav-item %}{% endblock nav-item %}
{% block content %}
    <div class="max-w-screen-lg bg-white shadow-2xl rounded-lg mx-auto text-center py-12 mt-4">
        <h2 class="text-3xl leading-9 font-bold tracking-tight text-gray-800 sm:text-4xl sm:leading-10">
            Welcome to Fideht Jobs
        </h2>
        <div class="mt-8 flex justify-center">
            <div class="flex rounded-md m-4 bg-blue-500 shadow">
                <a href="{% url 'core:login' %}" class="text-gray-200 font-bold py-2 px-6">
                    Login
                </a>
                <a href="{% url 'core:signup' %}" class="text-gray-200 font-bold py-2 px-6">
                    Sign Up
                </a>
            </div>
        </div>
    </div>

{% endblock content %}